<!-- Udemy Practice -->
<!-- <label>Server Name</label>
<input 
    type="text" 
    class="from-control" 
    (input)="onUpdateServerName($event)"
>
<input 
    type="text" 
    class="from-control" 
    [(ngModel)]='serverName'
>
<p>{{ serverName }}</p> -->
<!-- <button 
    class="btn btn-primary" 
    [disabled] = "!allowNewServer" 
    (click)="onCreateServer()"
>
    Add Server
</button>
<p [innerText] = "allowNewServer"></p>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server> -->

<!-- Angulat CLI and Data Binding Assignment  -->
<!-- <h4>Create a input field that captures user name, Create two-way data binding for entered user name</h4>
<label>Username</label>
<input type="text" class="form-control" [(ngModel)]="username">
<p>{{ username }}</p>
<h4>Create a button that clears the user name also Add condition to enable the button only if input feild has some value</h4>
<button
    class="btn btn-primary"
    [disabled] = "username === ''"
    (click)="username = ''"
>
    Reset User
</button> -->