<div class="container">
    <!--Q1. Show and hide a div on the basis of click using structural directive. -->
    <h4>Show and hide a div on the basis of click using structural directive</h4>
    <div class="box1" *ngIf="elementVisibility">
        <p>This is a hidden element</p>
    </div>
    <button (click)="toggleElementVisibility()">Show Element</button>
    <!--Q2. Change the class of div on the basis of click using attribute directive -->
    <h4>Change the class of div on the basis of click using attribute directive</h4>
    <div class="box2"></div>
    <!--Q3. Iterate a list of Item using structural directive -->
    <h4>Iterate a list of Item using structural directive</h4>
    <ul>
        <li *ngFor="let item of items">{{ item }}</li>
    </ul>
    <!--Q4. Make a input box and set its default value using ngModel -->
    <h4>Make a input box and set its default value using ngModel</h4>
    <!-- Q5. Create custom directive and change the innerText of the element to  ‘ Hello , I am Custom Directive’ -->
    <h4>Create custom directive and change the innerText of the element to  ‘Hello , I am Custom Directive’.</h4>
    <p appText></p>
</div>